<?xml version="1.0"?>
<ruleset name="experimental-features">
    <description>Sniffs for the coding standards of the Experimental Features plugin</description>

    <!--
    Pass some flags to PHPCS:
     p flag: Show progress of the run.
     s flag: Show sniff codes in all reports.
    -->
    <arg value="ps" />

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./" />

    <!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
    <arg name="cache"/>

    <!-- Check up to 20 files simultaneously. -->
    <arg name="parallel" value="20"/>

    <!-- Set severity to 1 to see everything that isn't effectively turned off. -->
    <arg name="severity" value="1" />

    <!-- Check all files in this directory and the directories below it. -->
    <file>.</file>

    <rule ref="Alley-Interactive" />

    <rule ref="WordPress.WP.I18n">
        <properties>
            <!--
            Verify that the text_domain is set to the desired text-domain.
            Multiple valid text domains can be provided as <element>s.
             -->
            <property name="text_domain" type="array">
                <element value="experimental-features" />
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="experimental_features" />
            </property>
        </properties>
    </rule>

    <!-- Turn off a few rules for partials. $args are passed in from the parent context, and they are scoped to a function, so these don't apply. -->
    <rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis.UndefinedVariable">
        <exclude-pattern>/partials/</exclude-pattern>
    </rule>
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
        <exclude-pattern>/partials/</exclude-pattern>
    </rule>
</ruleset>
